<h1>Tenants / Landlords</h1>


<% @people.each do |person| %>
  <div class="person-listing">
    <h2><%= link_to person.name, person %></h2>
    <li><%= person.role %></li>
    <li><%= person.email %></li>
    

    
</div>
  
<% end %>


<div class="clear">
<%= link_to 'New Person', new_person_path %>
</div>