/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'css/bootstrap.css'
 *= require_self
 *= require_tree .
 */

body {
	font: 12px 'Trebuchet MS', sans-serif;
}

h1 {
	font: 16px 'Trebuchet MS';
	margin: 5px;
	padding: 5px;
	border-bottom: gray 1px solid;
}

h2 {
	font: 14px 'Trebuchet MS', sans-serif;
	margin: 0px;
	padding: 0px 5px;
}

.navbar li {
	font: 12px 'Trebuchet MS', sans-serif; 
	color: white;
	text-align: bottom;
	padding: 5px;
	margin: 5px;
}

.navbar {
	background: black;
	color: white;
	font: 12px 'Trebuchet MS', sans-serif;
	text-transform: lowercase;
	text-shadow: none;
}

.brand {
	padding: 5px;
	margin: 5px;
	text-transform: none;
	color: white;
	font: 14px "Trebuchet MS", sans-serif;
}

.thumbnail {
	height: auto;
	width: 175px;
	float: left;
	margin: 5px;
}

.thumbnail img {
	height: 150px;
	width: 150px;
	border: 1px gray;
	padding: 5px;
	margin: 5px;
	display: block;
}

.thumbnail li {
	list-style-type: none;
	padding: 0px 10px;
	font: bold 12px "Trebuchet MS";
}

.clear {
	clear: both;
}

.listing img {
	height: 300px;
	width: 300px;
	border: 1px black;
	padding: 5px;
	float: left;
	margin: 5px;
}

.listing-description {
	float: left;
	
}

.person-listing {
	height: 150px;
	width: 150px;
	float: left;
}