<h1>Properties</h1>

<% @apartments.each do |apartment| %>
<div class="thumbnail">
<%= link_to image_tag(apartment.photo), apartment %>
    <li><%= apartment.name %></li>
</div>
<% end %>

<div class='clear'>
<%= link_to 'New Apartment', new_apartment_path %>
</div>